.form{
    margin: 0px;
}

button#add{
    margin: 0px;
}

input {
    width: 70%;
    padding: 12px 20px;
    margin: 0px 0;
    display: block;
    border: 1px solid rgb(11, 11, 11);
    border-radius: 4px;
    box-sizing: border-box;
  }

  .tableButtons{
    border: 0;
    padding: 5px;
  }

  .tableButton{
    padding: 2px;
    margin-top: 5px;
    
  }

  .updateInput{
    background-color: rgb(24, 157, 75);
    margin: auto;
  }

  .list{
    margin-top: 1rem;
  }
