input {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    display: block;
    border: 1px solid rgb(11, 11, 11);
    border-radius: 4px;
    box-sizing: border-box;
  }

  form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    text-align: left;

  }

  .form{
    display: block;
    text-align: center;
  }

  button{
    margin-left: 100px;
    padding: 5px;
  }

  .fbButton{
    margin-left: -100px;
  }

